extend ../layouts/common
block content
  h1 Books
  a(href="/books/create") New
  form(action="/books", method="GET")
    input(type="text", name="q")
    button Search
  form(action="/books/update", method="GET")
    strong Update Title
    br
    label Title
    br
    input(type="text", name="title")
    br
    label New Title
    br
    input(type="text", name="newtitle")
    br
    button Update
  each book in books
    .col-sm-3.p-2
      .card(style='width: 18rem;')
        img.card-img-top(src= book.coverUrl, alt='...')
        .card-body
          h5.card-title= book.title
          p.card-text= book.description
          a.btn.btn-primary(href='/cart/add/' + book.id) Add to cart
          a.btn.btn-primary(href='/books/' + book.id + '/delete') Delete
  form(action="/books/createTransaction" method="POST")
    button Rental