form(action="/books/create", method="POST")
  strong Create Book
  br
  label Title
  br
  input(type="text", name="title")
  br
  label Description
  br
  input(type="text", name="description")
  br
  button Create