form(action="/users/create", method="POST")
  strong Create User
  br
  label Name
  br
  input(type="text", name="name")
  br
  label Phone Number
  br
  input(type="text", name="phonenumber")
  br
  button Create