h1 Books
form(action="/books", method="GET")
  input(type="text", name="q")
  button Search
form(action="/books/create", method="POST")
  strong Create Book
  br
  label Title
  br
  input(type="text", name="title")
  br
  label Description
  br
  input(type="text", name="description")
  br
  button Create
form(action="/books/update", method="GET")
  strong Update Title
  br
  label Title
  br
  input(type="text", name="title")
  br
  label New Title
  br
  input(type="text", name="newtitle")
  br
  button Update
ul
  each book in books
    li
      span= book.title
      span &nbsp
      a(href='/books/' + book.id + '/delete') Delete