h1 Transaction
a(href="/") Home
span &nbsp
a(href="/transactions/create") New
table(style="border-collapse: collapse; width:100%")
  tr(style="border: 1px solid #dddddd;padding: 8px")
    th(style="border: 1px solid #dddddd;padding: 8px")
    th(style="border: 1px solid #dddddd;padding: 8px") Id
    th(style="border: 1px solid #dddddd;padding: 8px") User
    th(style="border: 1px solid #dddddd;padding: 8px") Book
  each transaction in collections
    tr(style="border: 1px solid #dddddd;padding: 8px")
      th(style="border: 1px solid #dddddd;padding: 8px")
        a(href="/transactions/" + transaction.id + "/delete") Delete
      th(style="border: 1px solid #dddddd;padding: 8px")= transaction.id
      th(style="border: 1px solid #dddddd;padding: 8px")= transaction.username
      th(style="border: 1px solid #dddddd;padding: 8px")= transaction.booktitle