extend ../layouts/common
block content
  h1 Users
  a.btn.btn-primary(href="/") Home
  span &nbsp
  a.btn.btn-primary(href="/users/create") New
  form(action="/users", method="GET")
    input(type="text", name="q")
    button Search
  form(action="/users/update", method="GET")
    strong Update User
    br
    label Name
    br
    input(type="text", name="name")
    br
    label Phone Number
    br
    input(type="text", name="phonenumber")
    br
    label New Phone Number
    br
    input(type="text", name="newphonenumber")
    br
    button Update
  table.table
    tr
      th Name
      th Phone
      th
    each user in users
      tr
        td= user.name
        td= user.phonenumber
        td
          a(href='/users/' + user.id + '/delete') Delete